Source: konjungate
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@konjungate.org>
Uploaders: Holger Schinzel <holger@konjungate.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.konjungate.org/
Vcs-Git: git://github.com/konjungatecoin/konjungate.git
Vcs-Browser: https://github.com/konjungatecoin/konjungate

Package: konjungated
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Konjungate is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Konjungate uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Konjungate Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, konjungated, and the CLI tool
 konjungate-cli to interact with the daemon.

Package: konjungate-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Konjungate is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Konjungate uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Konjungate Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Konjungate-Qt, a GUI for Konjungate based on Qt.

Package: konjungate-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Konjungate is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Konjungate uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Konjungate Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides konjungate-tx, a command-line transaction creation
 tool which can be used without a konjungate daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
